/* Zerando os atributos de margens, preechimentos
e preenchimentos das caixas todos os elementos*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configurando a fonte para que a unidade rem para equivaler 10px
por regra de 3 */
:root{
  font-size: 62.5%;

  /* Utilizando variáveis para cores, para usar tem que 
  chamar a função var()*/
  --color-base-white: white;
  --color-base-gray-100: #f5f5f5;
  --color-base-gray-300: #8d8d99;
  --color-base-gray-500: #3d3d3d;
  --color-base-gray-900: #202024;
}

html, body, input{
  font-family: 'Mulish', sans-serif;
}

body{
  font-size: 1.6rem;
  background-color: var(--color-base-white);
  color: var(--color-base-gray-900);
}

#app > *{
  border: 1px solid red;
}

#app{
  display: grid;
  /* o Usando o maximo de conteudo para deixar
  fica o footer e header fixo em cima e em baixo
  e o conteudo fica com o maior espaço que é 1fr*/
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
}

.container{
  padding: 1.6rem 3.2rem;
  width: min(112rem, 100%);
  margin: 0 auto; 
} 

main{
  background-color: var(--color-base-gray-100);
  /* Afim de deixar o footer e o header presos na tela e o scroll
   somente no main. Colocamos o comando abaixo:*/
  overflow-y: scroll;
}

nav ul{
  list-style: none;
  font-size: 1.8rem;
  color: var(--color-base-gray-300);
  font-weight: 700;
}

ul li.active{
  color: var(--color-base-gray-900);
}

ul li:hover{
  color: var(--color-base-gray-900);
  cursor: pointer;
}

header, nav, nav ul, .div1{
  display: flex;
  gap: 7rem;
  align-items: center;
  justify-content: space-between;
}

nav{
  width: 100%;
  align-items: center;
}

header form{
  width: 100%;
}

/* Escondendo o label do header que fica junto com o inpit 
com esse codigo o Overflow e para não ter rolagem por 
diminuir o width e height.
O position absolute alinha ele no top 0 e right 0 */
.input-wrapper label{
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
} 


.input-wrapper input{
  width: 100%; 
  /* Nesse caso como o input fica travado por causa da div
  devemos colocar o min-width para aumentar o tamanho dele
  ja que com o with não consegue aumentar mais por causa do
  tamanho da div */
  min-width: 40rem;
  padding: 1.6rem;
  background-color: var(--color-base-gray-100);
  border: none;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  align-items: center;
}

/* Definindo a cor para o texto do placholder do input do header*/
.input-wrapper input::placeholder{
  opacity: 0.56;
  color: var(--color-base-gray-500);
}

#avatar{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  /* Fazendo com que a imagem não fique feia, 
  por que com esse comando ela vai cobrir o espaço definido. */
  object-fit: cover;
}

/* Galeria | Main */
main h1{
  padding-top: 1.6rem;
  font-size: 2.4rem;
}

.gallery{
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.2rem;
}

/* Para colocar as bordas na caixa da imagem, as de cima nunca funcionam 
pois a figura transborda a caixa  por isso tem que usar o overflow: hidden*/
.item{
  background-color: var(--color-base-white);
  border-radius: 0.8rem;
  overflow: hidden;
}

.item img{
  width: 100%;
  /* Solicitando que a proporção da foto fique 16:9 e solicitando 
  que a imagem se encaixe nessa resolução cobrindo os espaços vazios  */
  aspect-ratio: 16/9;
  object-fit: cover;

  /* É usado junto com o hover para dar transição com a imagem */
  transition-property: transform;
  transition-duration: 1s;
}

.item img:hover{
  transform: scale(1.1) rotate(2deg);
  filter: hue-rotate(7deg) contrast(101%) saturate(200%);
}

.details{
  padding: 2.2rem;
  margin-left: 1.2rem;
}

.details h2{
  font-size: 1.8rem;
  margin-left: 2.2rem;
}

.tags{
  margin-top: 1.2rem;
  margin-left: 2.2rem;
}

.tags span{
  padding: 0.6rem;
  background-color: var(--color-base-gray-100);
  border-radius: 0.4rem;

  line-height: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}

footer p{
  text-align: center;
  padding: 1.6rem;
  font-weight: 600;
}

@media(min-width: 700px){

}